@font-face {
  font-family: "iconfont"; /* Project id 4714161 */
  src: url('iconfont.woff2?t=1729134544029') format('woff2'),
       url('iconfont.woff?t=1729134544029') format('woff'),
       url('iconfont.ttf?t=1729134544029') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwenben:before {
  content: "\e66e";
}

.icon-heading-h1:before {
  content: "\e600";
}

.icon-heading-h2:before {
  content: "\e601";
}

.icon-zhengwen:before {
  content: "\e625";
}

